<ul class="main-social">
    {% for entity in entities %}
        <li class="main-social__list"><a class="main-social__item" href="{{entity.link}}"> <img class="icon-logo-f" src="{% set img = vich_uploader_asset(entity, 'mainImageFile') %}{% if img %}{{img}}{% endif %}" alt=""></a></li>
    {% endfor %}
</ul>