{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page403">
                <p><span>403</span><span>error</span></p>
                <div class="btn-center">
                    <a class="btn-all" href="#" onclick="history.back(); return false;">back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}