<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Production | KINO.RENT {% endblock %}</title>
    <meta content="{% block metaDesription %}Production{% endblock %}" name="description">
    <meta content="{% block metaKeywords %}Production{% endblock %}" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('styles/main.min.css') }}" type="text/css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js">
    </script><![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <main class="maincontent">        
        {% block body %}{% endblock %}
        <div class="modal modal-menu">
        <div class="main-half">
          <div class="main main-part">
            <button class="menu-close-block" id="menu-close-block">
              <svg class="icon-black" width="30" height="30">
                <use xlink:href="{{ asset('img/sprite.svg')}}#close"> </use>
              </svg>
            </button>
            <div class="main-part__left">
              <div class="main-part__left-w">
                <div class="main-s2">
                  <ul class="mod-menu">
                    <li class="mod-menu__list"><a class="mod-menu__item" href="/about">О нас</a></li>
                    {# <li class="mod-menu__list"><a class="mod-menu__item" href="#">Портфолио</a></li> #}
                    <li class="mod-menu__list"><a class="mod-menu__item" href="/services/aerosiomka">Услуги</a></li>
                    <li class="mod-menu__list"><a class="mod-menu__item" href="/contact">Контакты</a></li>
                  </ul>
                </div>
                <div class="main-f">
                  {{ render(controller('LanBundle:Lan:getLanMenu')) }}
                </div> 
                <div class="main-d"> 
                  <ul class="text-conts text-conts_mod">
                    <li class="text-conts__list"><a class="text-conts__item" href="tel:+78123171706" type="tel">
                        <svg class="icon-black" width="22" height="20">
                          <use xlink:href="{{ asset('img/sprite.svg')}}#call"> </use>
                        </svg><span>+7 (812) 317–17–06</span></a></li>
                    <li class="text-conts__list"><a class="text-conts__item" href="mailto:prod@kino.rent" type="email">
                        <svg class="icon-black" width="22" height="20">
                          <use xlink:href="{{ asset('img/sprite.svg')}}#mail"> </use>
                        </svg><span>prod@kino.rent</span></a></li>
                    <li class="text-conts__list"><a class="text-conts__item" href="#">
                        <svg class="icon-black" width="22" height="20">
                          <use xlink:href="{{ asset('img/sprite.svg')}}#telegram"> </use>
                        </svg><span>@kino.rentprod</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="main-part__right main-part__right_f">
              <form class="form-sub" id="myOrder1" action="{{ path('shooting_order') }}" method="POST">
                <div class="input-group input-group__block">
                  <label class="visually-hidden" for="name"></label>
                  <input class="form-contact__name form-contact__name_b" type="text" name="name" placeholder="ФИО" id="name" required>
                </div>
                <div class="input-group input-group__block">
                  <label class="visually-hidden" for="email"></label>
                  <input class="form-contact__email form-contact__email_b" type="email" name="email" placeholder="Email" id="email" required>
                </div>
                <div class="input-group input-group__block">
                  <label class="visually-hidden" for="tel"></label>
                  <input class="form-contact__tel form-contact__tel_b tel" type="tel" name="tel" placeholder="+7(___)___-__-__" id="tel" required>
                </div>
                <div class="input-group input-group__block">
                  <label class="visually-hidden" for="description"></label>
                  <textarea class="form-contact__text form-contact__text_b" name="msg" cols="30" rows="5" placeholder="Опишите Вашу задачу..." id="description" required></textarea>
                </div>
                <div class="form-sub__btn">
                  <button class="btn btn__c" type="submit">Оставить заявку </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% block footer %}
        {% include 'Footer/footer.html.twig' %}
      {% endblock %}
      <div class="modal modal-success">
          <div class="modal__cont-s">
          <div>Ваша заявка успешно отправлена.</div><a class="btn btn__link" href="/"><span class="btn__title">Ok</span></a>
          </div>
      </div>
      <div class="modal modal-error">
          <div class="modal__cont-s">
          <div>Что-то пошло не так, попробуйте заполнить форму заново.</div><a class="btn btn__link" href="/{% block title_link_form %}{% endblock %}"><span class="btn__title">Ok</span></a>
          </div>
      </div>
      <div class="modal modal-time">
          <div class="modal__cont-s">
          <div>Подождите...</div>
          <div class="bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div>
          </div>
      </div>
    </main>
    
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="./assets/libs/js/jquery.min.js"><\/script>');</script>
  {% block javascripts %}{% endblock %}
  <script src="{{ asset('scripts/main.js') }}" defer></script>
  
</html>