{% set active = app.request.getPathInfo|slice(0, 5) %}
{% set arr = [{ url:'/about', name: 'О нас'},{ url:'/services/aerosiomka', name:'Услуги'},{url:'/contact', name:'Контакты'}] %}
<ul class="menu-main">
    {% for key, item in arr %}
        <li class="menu-main__item"><a class="menu-main__link {% if item.url|slice(0, 5) == active %}active {% endif %} " href="{{item.url}}">{{item.name}}</a></li>
    {% endfor %}
</ul>