{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('libs/scroll/jquery.fullPage.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="fullpage">
<section class="section section-i sect-1 active">
  <div class="vimeo-full-bg">
    <div class="vimeo-full">
    <iframe src="https://www.youtube.com/embed/PIMJat7ngL4?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;playlist=PIMJat7ngL4&amp;iv_load_policy=0" frameborder="0" data-keepplaying allowfullscreen class="player-v-main"></iframe>
    </div>
  </div>
  <div class="main main-s1 main_mods">
    <nav class="nav nav_main" id="navigation">
      {% include 'Catalog/cat_menu.html.twig' %}
    </nav>
    <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
    <div class="main-h-menu_m">   
      <div class="header-g header-g_mod"> 
        <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <div class="menu-close-block" id="menu-close-block"></div>
      </div>
    </div>
    <div class="main-s1__block">
      <h1 class="text-h1">KINO.RENT PRODUCTION</h1>
      {# <div class="text-p">Мы можем больше</div> #}
    </div>
    <div class="scroll-i">Scroll down
      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-i sect-2">
  <div class="main-half">
    <div class="main-h-menu">
      <div class="main">
        <div class="logo logo_black"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
        <div class="header-g"> 
          <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
          <div class="menu-close-block" id="menu-close-block"></div>
        </div>
      </div>
    </div>
    <div class="main-s-title">О нас</div>
    <div class="main-half__left">
      <div class="main-half__left-w"> 
        <div class="main-s2 main-s2_mod">
          <h2 class="text-h2">KINO.RENT PRODUCTION</h2>
          <p>Kino.Rent Production занимается продакшном полного цикла. Мы не просто сниманием хорошое видео, а преобразуем идеи в готовый проект. Задача может стоять любая: от презентационного ролика до музыкального клипа, от аэро до подводной съемки, с анимацией или без</p>
        </div>
        <div class="main-s2-btn">
          <a class="btn btn__link btn-order" href="/about"><span class="btn__title">О нас </span></a>
        </div>
      </div>
    </div>
    <div class="main-half__right">
      <div class="main-half__right-w"> </div>
    </div>
  </div>
</section>
<section class="section section-i sect-3">
  <div class="main main-s3">
    <div class="main-h-menu">
      <div class="main">
        <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
        <div class="header-g"> 
          <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
          <div class="menu-close-block" id="menu-close-block"></div>
        </div>
      </div>
    </div>
    <div class="main-s3__center">
      <div class="main-s3__top"></div>
      <div class="main-s3__pos">
        <button class="btn btn-pl" id="playHeadYoutube" data-src>
          <svg class="icon-white" width="70" height="70">
            <use xlink:href="/img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
      <div class="main-s3__bottom">
        <a class="btn btn__link btn__link_blue" href="#">подробнее </a>
      </div>
    </div>
    <div class="main-s3__rel">
      <menu class="menu-m">
        <ul class="menu-m__block">
          <button class="menu-m__item active" data-type="list1">Тип съёмки</button>
          <button class="menu-m__item" data-type="list2">Направление</button>
        </ul>
        <div class="menu-arrows">
          <button class="menu-arrows__left">
            <svg class="icon-white" width="25" height="18">
              <use xlink:href="/img/sprite.svg#right"></use>
            </svg>
          </button>
          <button class="menu-arrows__right">
            <svg class="icon-white" width="25" height="18">
              <use xlink:href="/img/sprite.svg#left"></use>
            </svg>
          </button>
        </div>
        {{ render(controller('PageBundle:Page:getCategoryMenu')) }}
        {{ render(controller('PageBundle:Page:getCategoryMenu2')) }}
      </menu>
    </div>
  </div>
</section>
<section class="section section-i sect-4">
  <div class="main-half">
    <div class="main-h-menu">
      <div class="main">
        <div class="logo logo_black"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
        <div class="header-g"> 
          <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
          <div class="menu-close-block" id="menu-close-block"></div>
        </div>
      </div>
    </div>
    <div class="main-s-title">Клиенты</div>
    <div class="main main-part">
      <div class="main-part__left">
        <div class="main-part__left-w">
          <div class="main-s2 main-s2_mod">
            <h2 class="text-h2">Наши клиенты</h2>
            <p>Хотите стать нашим клиентом? Не нужно ждать! Оставляйте заявку и любуйтесь своим логотипом на этой странице</p>
          </div>
        </div>
      </div>
      <div class="main-part__right"><img class="main-partners" src="{{ asset('img/bg_jdun.jpg')}}" alt=""></div>
    </div>
  </div>
</section>
<section class="section section-i sect-6">
  {% include 'Footer/footer.html.twig' %}
</section>
</div>
<div class="modal modal-article">
  <button class="modal-close">Закрыть</button>
  <div class="fullscreen">
    <iframe class="player-full" id="playerSectionYou" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
{% block footer %}
  <div></div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('libs/scroll/jquery.easings.min.js') }}"></script>
  <script src="{{ asset('libs/scroll/scrolloverflow.min.js') }}"></script>
  <script src="{{ asset('libs/scroll/jquery.fullPage.js') }}"></script>
  <script>$(document).ready(function(){$('#fullpage').fullpage()})</script>
{% endblock %}