<ul class="menu-m2__ul active" id="list1">
    {% for entity in entities %}
        <li class="menu-m2__list">
            <button class="menu-m2__item" data-text="{% if entity.content %}{{ entity.content|raw }}{% endif %}" data-url="{% if entity.urlLink %}{{entity.urlLink}}{% endif %}" data-src="{% if entity.urlSrc %}{{entity.urlSrc}}{% endif %}" data-img="{% set img = vich_uploader_asset(entity, 'mainImageFile') %}{% if img %}{{img}}{% endif %}"> 
                <svg class="icon-white" width="100" height="80">
                    <use xlink:href="{{ asset('img/sprite.svg')}}#{{entity.svg}}"> </use>
                </svg><span>{{entity.title}}</span>
            </button>
        </li>
    {% endfor %}
</ul>