{% extends '::base.html.twig' %}

{%- block page_title -%}
  {%- if page.metaTitle -%}
      {{ page.title }} | {{ page.metaTitle -}} 
  {%- endif -%}
{%- endblock -%}

{%- block metaDesription -%}
  {%- if page.metaDescription -%}
      {{-page.metaDescription-}}
  {%- endif -%}
{%- endblock -%}

{%- block metaKeywords -%}
  {%- if page.metaKeywords -%}
      {{-page.metaKeywords-}}
  {%- endif -%}
{%- endblock -%}

{% block title_input_form %}{{ page.title }}{% endblock %}
{% block title_link_form %}project/{{ page.link }}{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('libs/carousel/owl.carousel.css')}}">
{% endblock %}
  
{% block body %}
    <section class="section-s section-s_abs">
        <div class="main main-t">
          <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
          <nav class="nav nav_t" id="navigation">
            {% include 'Catalog/cat_menu.html.twig' %}
          </nav>
          <div class="header-g"> 
            <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
            <div class="menu-close-block" id="menu-close-block"></div>
          </div>
        </div>
      </section>
      <section class="section-s">

        {% set imgHead = vich_uploader_asset(page, 'mainImageFile') %}
        <div class="head-img">
            {% if imgHead %}
                <img class="head-img__item" src="{{ imgHead | imagine_filter('main_795') }}" alt="{{ page.title }}">
            {% endif %}
          <div class="head-img__block main">
            <div class="head-img__content">
              <div class="head-img__left">
                <div class="head-img-t">
                  <h2>{{page.title}}</h2>
                  {# <p>Заказчик: BRAZZERS</p> #}
                </div>
                {% if prev %}
                    <a class="head-img-l" href="{{path('homepage')}}project/{{ prev[0].link }}"></a>
                {% endif %} 
              </div>
              <div class="head-img__right">
                <div class="head-img-t">
                  <button class="line-l" id="playHead" data-src="{% if page.urlVideo %}{{page.urlVideo}}{% endif %}">
                    <svg class="icon-white" width="100" height="100">
                      <use xlink:href="{{ asset('img/sprite.svg')}}#play"></use>
                    </svg>
                  </button>
                </div>
                {% if next %}
                    <a class="head-img-l" href="{{path('homepage')}}project/{{ next[0].link }}"></a>
                {% endif %}                  
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-s main-s2-pos">
        <div class="main-s2-title main-s2-title_z">Портфолио</div>
        <div class="main">
          <div class="team-content main-s2_mod">
            <div class="team-content__left">
              <a class="line-l" href="{{path("homepage")}}">
                <svg class="icon-black" width="35" height="30">
                  <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
                </svg></a>
              {{ page.content|raw }}
            </div>
            <div class="team-content__right"></div>           
          </div>
        </div>
      </section>
      <section class="section-s">
        {% set imgHeadS = vich_uploader_asset(page, 'mainSliderImageFile') %}
        {% if imgHeadS %}
            <div class="main slider-s carousel">
            <div class="owl-carousel owl-theme" id="owl-demo">
                <div class="item"><img class="img-article" src="{{ imgHeadS | imagine_filter('main_560') }}" alt="" /></div>
            </div>
            </div>
        {% endif %}
      </section>
      <section class="section-s">
        <div class="main">
          <div class="port-s">
            <div class="port-s__left">
                {{ page.contentTwo|raw }}
            </div>
            <div class="port-s__right">
            {% if page.urlVideoTwo %}
              <div class="port-s__video">
                {# <button class="port-s__link" id="playBody">
                  <svg class="icon-white" width="110" height="148">
                    <use xlink:href="{{ asset('img/sprite.svg')}}#backst"> </use>
                  </svg>
                </button> #}
                <iframe class="player-v" id="playerBodyYou" src="" data-src="{% if page.urlVideoTwo %}{{page.urlVideoTwo}}{% endif %}" frameborder="0" allowfullscreen>   </iframe>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </section>
      <section class="section-s">
        <div class="want">
          <div class="main main-height">
            <div class="want-bg">
              <div class="want-bg__left">
                <h2>Хотите такой же ролик?</h2>
                <p>С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. </p>
              </div>
              <div class="want-bg__right">
                <button class="btn btn-blue">Рассчитать</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-s">
        <div class="main">
          <div class="main-pagination">
          {% if prev %}
            <div class="main-pagination__left">
            
            {% set imgPrev = vich_uploader_asset(prev[0], 'mainImageFile') %}
                <img class="main-pagination__img" src="{{ imgPrev | imagine_filter('main_710x500') }}" alt="{{prev[0].title}}">
                <div class="main-pagination__content">
                    <div class="main-pagination__num"></div>
                    <div class="main-pagination__bl">
                    <h2>{{prev[0].title}}</h2>
                    {# <p>Brazzers</p> #}
                    </div>
                    <div class="main-pagination__btn"><a class="btn btn-opacity btn_flex" href="{{path('homepage')}}project/{{ prev[0].link }}">
                        <svg class="icon-white" width="35" height="28">
                        <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
                        </svg><span>Предыдущий проект</span></a>
                    </div>
                </div>
            
            </div>
            {% endif %}
            {% if next %}
            <div class="main-pagination__right">
                
                {% set imgNext = vich_uploader_asset(next[0], 'mainImageFile') %}
                    <img class="main-pagination__img" src="{{ imgNext | imagine_filter('main_710x500') }}" alt="{{next[0].title}}">
                    <div class="main-pagination__content">
                        <div class="main-pagination__num"></div>
                        <div class="main-pagination__bl">
                            <h2>{{next[0].title}}</h2>
                            {# <p>Brazzers</p> #}
                        </div>
                        <div class="main-pagination__btn"><a class="btn btn-opacity btn_flex" href="{{path('homepage')}}project/{{ next[0].link }}"> <span>Следующий проект</span>
                            <svg class="icon-white" width="35" height="28">
                            <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
                            </svg></a>
                        </div>
                    </div>
                     
            </div>
           {% endif %}  
          </div>
        </div>
      </section>
      <div class="modal modal-article player-youtube">
        <button class="modal-close">Закрыть</button>
        <div class="fullscreen">
          <iframe class="player-full" id="playerSectionYou" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('libs/carousel/owl.carousel.min.js')}}"></script>
  {# <script src="https://player.vimeo.com/api/player.js"></script> #}
{% endblock %}