{% for entity in entities %}
    <li class="menu-m2__list">
        <a class="menu-m2__item active-{{entity.id}}" data-id="{{entity.id}}" href="{{entity.urlLink}}"> 
            <svg class="icon-white" width="100" height="80">
                <use xlink:href="{{ asset('img/sprite.svg')}}#{{entity.svg}}"> </use>
            </svg><span>{{entity.title}}</span>
        </a>
    </li>
{% endfor %}