{% extends '::base.html.twig' %}

{%- block page_title -%}
  {%- if page.metaTitle -%}
      {{ page.title }} | {{ page.metaTitle -}} 
  {%- endif -%}
{%- endblock -%}

{%- block metaDesription -%}
  {%- if page.metaDescription -%}
      {{-page.metaDescription-}}
  {%- endif -%}
{%- endblock -%}

{%- block metaKeywords -%}
  {%- if page.metaKeywords -%}
      {{-page.metaKeywords-}}
  {%- endif -%}
{%- endblock -%}

{% block title_input_form %}{{ page.title }}{% endblock %}
{% block title_link_form %}project/{{ page.link }}{% endblock %}
{% block stylesheets %}

{% endblock %}
  
{% block body %}
<section class="section-s section-s_abs">
  <div class="main main-s1 main-t_{{page.id}} main_mods">
    <nav class="nav nav_main nav_t" id="navigation">
      {% include 'Catalog/cat_menu.html.twig' %}
    </nav>
    <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
    <div class="main-h-menu_m">   
      <div class="header-g header-g_mod"> 
        <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <div class="menu-close-block" id="menu-close-block"></div>
      </div>
    </div>
  </div>

  {# <div class="main main-t main-t_{{page.id}}">
    <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
    <nav class="nav nav_t" id="navigation">
      {% include 'Catalog/cat_menu.html.twig' %}
    </nav>
    <div class="header-g"> 
      <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="menu-close-block" id="menu-close-block"></div>
    </div>
  </div> #}


</section>
<section class="section-s">
        <div class="head-img">
          {% set imgHead = vich_uploader_asset(page, 'mainImageFile') %}
          {% if imgHead %}
                <img class="head-img__item" src="{{ imgHead | imagine_filter('main_795') }}" alt="{{ page.title }}">
          {% endif %}
          <div class="head-img__block main">
            <div class="head-img__content head-img__content_mod">
              <div class="menu-m2 menu-s">
              <div class="menu-arrows">
                  <button class="menu-arrows__left">
                    <svg class="icon-white" width="25" height="18">
                      <use xlink:href="/img/sprite.svg#right"></use>
                    </svg>
                  </button>
                  <button class="menu-arrows__right">
                    <svg class="icon-white" width="25" height="18">
                      <use xlink:href="/img/sprite.svg#left"></use>
                    </svg>
                  </button>
                </div>
                <ul class="menu-m2__ul active active-{{page.id}}" data-id="{{page.id}}" id="list1">
                  {{ render(controller('PageBundle:Page:getServicesMenu')) }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-s main-s2-pos">
        <div class="main-s2-title main-s2-title_z">Услуги</div>
        <div class="main">
          <div class="team-content">
            <div class="team-content__left text-mod"><a class="line-l" href="{{path("homepage")}}">
                <svg class="icon-black" width="35" height="30">
                  <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
                </svg></a>
               {{ page.content|raw }}
            </div>
            <div class="team-content__right port-s__right_mod-img">
            {% set imgD = vich_uploader_asset(page, 'mainImageDescriptionFile') %}
            {% if imgD %}
              <img class="head-img__item" src="{{ imgD | imagine_filter('main_100') }}" alt="">
            {% endif %}
          </div>
        </div>
      </section>
      <section class="section-s">
      {% set imgHeadS = vich_uploader_asset(page, 'mainSliderImageFile') %}
      {% if imgHeadS %}
        <img class="head-img__item" src="{{ imgHeadS | imagine_filter('main_500') }}" alt="">
      {% endif %}
      </section>

      {# <section class="section-s">
        <div class="main">
          <div class="main-complect">
            <ul class="main-complect__list">
              <li class="main-complect__item">
                <div class="main-complect__border">
                <img class="main-complect__img" src="assets/img/rent/Layer551.jpg" alt="">
                  <div class="main-complect__content">
                    <div class="title-h2">Dji mavic pro</div>
                    <ul class="block-attr">
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Частота кадров</span><span>30fps</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                    </ul>
                    <div class="block-desc">Идеальный вариант для тупого быдла которое хочет поснимать свои охуенные праздники.</div>
                  </div>
                </div>
              </li>
              <li class="main-complect__item">
                <div class="main-complect__border"><img class="main-complect__img" src="assets/img/rent/Layer553.jpg" alt="">
                  <div class="main-complect__content">
                    <div class="title-h2">Dji mavic pro</div>
                    <ul class="block-attr">
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                    </ul>
                    <div class="block-desc">Идеальный вариант для тупого быдла которое хочет поснимать свои охуенные праздники или как они очень оригинально прыгают в свое обосанное озеро в Мухосранске.</div>
                  </div>
                </div>
              </li>
              <li class="main-complect__item">
                <div class="main-complect__border"><img class="main-complect__img" src="assets/img/rent/Layer552.jpg" alt="">
                  <div class="main-complect__content">
                    <div class="title-h2">Dji mavic pro</div>
                    <ul class="block-attr">
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                      <li class="block-attr__item"><span>Разрешение</span><span>1080p</span></li>
                    </ul>
                    <div class="block-desc">Идеальный вариант для тупого быдла которое хочет поснимать свои охуенные праздники или как они очень оригинально прыгают в свое обосанное озеро в Мухосранске.</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section> #}

      <section class="section-s">
        <div class="main main_rel">
          <div class="off-complect">
            <div class="off-complect__content">
              <h2>Уже скоро мы доработаем наш автоматический калькулятор, а пока вы можете узнать стоимость услуги у нашего специалиста</h2>
              <div class="off-complect_content"></div>
              <button class="btn btn-blue">Запросить стоимость</button>
            </div>
          </div>
          <div class="team-content team-content_blur">
            <div class="team-content__left">
              <div class="main-forms">
                <h2>Подобрать комплект</h2>
                <p>Вы можете рассчитать стоимость аэросъёмки, а также подобрать подходящий Вам комплект, заполнив форму ниже</p>
                <div class="main-attention"> <strong>Внимание! </strong><span>Расчет стоимости не может быть точным, мы указываем Вам примерную стоимость проекта, финальная стоимость будет обозначена после согласования технического задания.</span></div>
                <form class="form-complect" action="#">
                  <div class="input-group input-group_free">
                    <label class="visually-hidden" for="name"></label>
                    <input class="form-contact__name" type="text" name="name" placeholder="Ваше имя..." id="nameComp" required>
                  </div>
                  <div class="input-group input-group_free">
                    <label class="visually-hidden" for="email"></label>
                    <input class="form-contact__email" type="email" name="email" placeholder="Email" id="emailComp" required>
                  </div>
                  <div class="input-group input-group_free">
                    <label class="visually-hidden" for="tel"></label>
                    <input class="form-contact__tel" type="tel" name="tel" placeholder="+7(___)___-__-__" id="telComp" required>
                  </div>
                  <div class="input-group input-group_one">
                    <label for="time">Кол-во часов:</label>
                    <input class="form-contact__tel" type="number" name="time" placeholder="0" id="" required>
                  </div>
                  <div class="input-group input-group_five">
                    <label class="visually-hidden" for="adress"></label>
                    <input class="form-contact__name" type="text" name="adress" placeholder="Адрес проведения съёмки" required>
                  </div>
                  <div class="input-group input-group_checkbox">
                    <div class="main-forms__title">Съёмочная группа</div>
                    <input id="option1" type="checkbox" name="option1">
                    <label for="option1">Оператор          </label>
                    <input id="option2" type="checkbox" name="option2">
                    <label for="option2">Механик          </label>
                    <input id="option3" type="checkbox" name="option3">
                    <label for="option3">Светик     </label>
                  </div>
                  <div class="main-result__label">Трансляционное оборудование</div>
                  <div class="input-group input-group_radio">
                    <p>Операторы</p>
                    <input id="radio1" type="radio" name="radio">
                    <label for="radio1">Да  </label>
                    <input id="radio2" type="radio" name="radio">
                    <label for="radio2">Нет  </label>
                  </div>
                  <div class="input-group input-group_select">
                    <label for="select">Коптер:</label>
                    <select name="select">
                      <option selected="selected" disabled>Выберите</option>
                      <option value="1">Коптер 1</option>
                      <option value="2">Коптер 2</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            <div class="team-content__right">
              <div class="main-result">
                <div class="main-result__title">Итог:</div>
                <div class="main-result__block">
                  <div class="main-result__label">Трансляционное оборудование</div>
                  <dl class="main-result__dl">
                    <dt class="main-result__name"><span>Камеры</span></dt>
                    <dd class="main-result__value"> <span>4шт.</span></dd>
                  </dl>
                  <dl class="main-result__dl">
                    <dt class="main-result__name"> <span>Тип</span></dt>
                    <dd class="main-result__value"> <span>Проводная</span></dd>
                  </dl>
                </div>
                <div class="main-result__block">
                  <div class="main-result__label">Коммутация</div>
                  <dl class="main-result__dl">
                    <dt class="main-result__name"> <span>Тип</span></dt>
                    <dd class="main-result__value"> <span>Проводная</span></dd>
                  </dl>
                  <div class="main-result__price">~ 63000.-</div>
                </div>
                <div class="main-result__btn">
                  <button class="btn btn__link btn-white">Сохранить    </button>
                  <button class="btn btn__link btn-blue">Заказать    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal modal-link">
        <div class="modal-flex">
          <form class="form-comp" id="myOrderComp" action="{{ path('shooting_order') }}" method="POST">
            <button class="form-comp__close" type="button">
              <svg class="icon-black" width="20" height="20">
                <use xlink:href="{{ asset('img/sprite.svg')}}#cancel"> </use>
              </svg>
            </button>
            <h2>Оставить заявку</h2>
            <div class="input-group input-group__block">
              <label class="visually-hidden" for="name"></label>
              <input class="form-contact__name form-contact__name_b" type="text" name="name" placeholder="ФИО" required>
            </div>
            <div class="input-group input-group__block">
              <label class="visually-hidden" for="email"></label>
              <input class="form-contact__email form-contact__email_b" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group input-group__block">
              <label class="visually-hidden" for="tel"></label>
              <input class="form-contact__tel form-contact__tel_b tel" type="tel" name="tel" placeholder="+7(___)___-__-__" required>
            </div>
            <div class="input-group input-group__block">
              <label class="visually-hidden" for="description"></label>
              <textarea class="form-contact__text form-contact__text_b" name="msg" cols="30" rows="5" placeholder="Опишите Вашу задачу..." required></textarea>
            </div>
            <div class="form-sub__btn">
              <button class="btn btn__c btn-blue" type="submit">Запросить стоимость</button>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
{% block javascripts %}

{% endblock %}