        <footer class="footer-i sect-5">
            <div class="main-half">
            <div class="main-s-title">Контакты</div>
            <div class="main main-part">
                <div class="main-part__left">
                <div class="main-part__left-w">
                    <div class="main-s2">
                    <div class="logo"><a class="logo__link logo__link_pos" href="/">
                  {% include 'Page/svg.html.twig' %}</a></div>
                    <h2 class="text-h2">Свяжитесь с нами</h2>
                    <ul class="text-conts">
                        <li class="text-conts__list"><a class="text-conts__item" href="javascript:void(0)" type="tel">
                            <svg class="icon-white" width="30" height="30">
                            <use xlink:href="{{ asset('img/sprite.svg')}}#maps"> </use>
                            </svg><span>Каменноостровский пр. 26–28</span></a></li>
                        <li class="text-conts__list"><a class="text-conts__item" href="tel:+7812171706" type="tel">
                            <svg class="icon-white" width="30" height="30">
                            <use xlink:href="{{ asset('img/sprite.svg')}}#call"> </use>
                            </svg><span>+7 (812) 317–17–06</span></a></li>
                        <li class="text-conts__list"><a class="text-conts__item" href="mailto:prod@kino.rent" type="email">
                            <svg class="icon-white" width="30" height="30">
                            <use xlink:href="{{ asset('img/sprite.svg')}}#mail"> </use>
                            </svg><span>prod@kino.rent</span></a></li>
                        <li class="text-conts__list"><a class="text-conts__item" href="javascript:void(0)">
                            <svg class="icon-white" width="30" height="30">
                            <use xlink:href="{{ asset('img/sprite.svg')}}#telegram"> </use>
                            </svg><span>@kino.rentprod</span></a></li>
                    </ul>
                    {{ render(controller('LanBundle:Lan:getLanMenu')) }}
                    <div class="btn-b-footer">
                        <button class="btn btn_footer-m">Оставить заявку</button>
                    </div>
                    </div>
                    <div class="main-f">
                    <ul class="main-f-nav">
                        {# <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Портфолио</a></li> #}
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="/about">О нас</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="/services/aerosiomka">Услуги</a></li>
                        {# <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Клиенты</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Техническое обеспечение</a></li> #}
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="/contact">Контакты</a></li>
                    </ul>
                    
                    {# <ul class="main-f-nav">
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Классное видео</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Реклама</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Клипы</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Социальное</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Аэросъёмка</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Подводная съёмка</a></li>
                        <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Трансляции</a></li>
                    </ul> #}
                    </div>
                </div>
                </div>
                <div class="main-part__right main-part__right_f">
                    <form class="form-sub" id="myOrder" action="{{ path('shooting_order') }}" method="POST">
                        <div class="input-group input-group__block">
                        <label class="visually-hidden" for="name"></label>
                        <input class="form-contact__name form-contact__name_b" type="text" name="name" placeholder="ФИО" id="name" required>
                        </div>
                        <div class="input-group input-group__block">
                        <label class="visually-hidden" for="email"></label>
                        <input class="form-contact__email form-contact__email_b" type="email" name="email" placeholder="Email" id="email" required>
                        </div>
                        <div class="input-group input-group__block">
                        <label class="visually-hidden" for="tel"></label>
                        <input class="form-contact__tel form-contact__tel_b tel" type="tel" name="tel" placeholder="+7(___)___-__-__" required>
                        </div>
                        <div class="input-group input-group__block">
                        <label class="visually-hidden" for="description"></label>
                        <textarea class="form-contact__text form-contact__text_b" name="msg" cols="30" rows="5" placeholder="Опишите Вашу задачу..." id="description" required></textarea>
                        </div>
                        <div class="form-sub__btn">
                        <button class="btn btn__c" type="submit">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </footer>