{% extends '::admin.html.twig' %}

{% block page_title %}
    О нас
{% endblock %}
{% block page_subtitle %}
    редактирование
{% endblock %}
{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                {{ form_start(edit_form) }}
                <div class="box-body">
                {{ form_widget(edit_form) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Cохранить</button>
                    <a  class="btn btn-danger" href="#">
                        <i class="fa fa-ban"></i> Вернутсься к списку
                    </a>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
