{% extends '::admin.html.twig' %}
{% block page_title %}
    О нас
{% endblock %}
{% block page_subtitle %}

{% endblock %}
{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <a class="btn btn-success {% if entities|length > 0 %} hidden{% endif %}" href="{{ path('about_page_new') }}">
                        <i class="fa fa-plus"></i> Добавить
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Заголовок</th>
                            <th>Опубликованно?</th>
                            <th>Действия</th>
                        </tr>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('about_page_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                                <td>{% if entity.published %}да{% else %}нет{% endif %}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('about_page_edit', { 'id': entity.id }) }}">
                                        <i class="fa fa-pencil"></i> Изменить
                                    </a>
                                    <a  class="btn btn-danger" href="{{ path('about_page_delete', { 'id': entity.id }) }}">
                                        <i class="fa fa-trash"></i> Удалить
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    {% endblock %}
