{% extends '::admin.html.twig' %}
{% block page_title %}
    Тип съёмки - Категории
{% endblock %}
{% block page_subtitle %}
    удаление
{% endblock %}
{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="callout callout-danger">
                        <h4><i class="fa fa-warning"></i> Внимание! Действие не обратимо!</h4>

                        <p>Вы уверены что хотите удалить страницу "{{ entity.title }}?"</p>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="{{ path('category_page_delete', {'id': entity.id, 'confirm':true}) }}" class="btn btn-danger">
                        Удалить
                    </a>
                    <a href="#" class="btn btn-default">
                        Вернуться к списку
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
