{% set active = app.request.getPathInfo|slice(0, 5) %}
{% set arr = [{ url:'/about', name: 'О нас'},{ url:'/services/aerosiomka', name:'Услуги'},{url:'/contact', name:'Контакты'}] %}
<ul class="main-f-nav">
    {% for key, item in arr %}
        <li class="main-f-nav__list"><a class="main-f-nav__item {% if item.url|slice(0, 5) == active %}active {% endif %} " href="{{item.url}}">{{item.name}}</a></li>
    {% endfor %}
</ul>