{% extends '::base.html.twig' %}

{% block title_pg %}Контакты{% endblock %}
{% block body %}     

<section class="section-s section-s_abs main_color">
  <div class="main main-s1 main_mods">
    <nav class="nav nav_main nav_t" id="navigation">
      {% include 'Catalog/cat_menu.html.twig' %}
    </nav>
    <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
    <div class="main-h-menu_m">   
      <div class="header-g header-g_mod"> 
        <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <div class="menu-close-block" id="menu-close-block"></div>
      </div>
    </div>
  </div>
  {# <div class="main main-t">
    <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
    <nav class="nav nav_t" id="navigation">
      {% include 'Catalog/cat_menu.html.twig' %}
    </nav>
    <div class="header-g"> 
      <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="menu-close-block" id="menu-close-block"></div>
    </div>
  </div> #}

</section>

<section class="section map">
  <div class="google-map">
    <div id="map"></div>
  </div>
</section>

<section class="section-s main-s2-pos">
  <div class="main">
    <div class="port-s">
      <div class="port-s__left"><a class="line-l" href="/">
          <svg class="icon-black" width="35" height="30">
              <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
          </svg></a>
        <div class="content-bl">
          {{ entity[0].content|raw }}
        </div>
        <ul class="text-conts text-conts_mod">
          <li class="text-conts__list"><a class="text-conts__item" href="#">
              <svg class="icon-black" width="22" height="20">
                <use xlink:href="{{ asset('img/sprite.svg')}}#maps"> </use>
              </svg><span>Каменноостровский пр. 26–28</span></a></li>
          <li class="text-conts__list"><a class="text-conts__item" href="tel:+78123171706" type="tel">
              <svg class="icon-black" width="22" height="20">
                <use xlink:href="{{ asset('img/sprite.svg')}}#call"> </use>
              </svg><span>+7 (812) 317–17–06</span></a></li>
          <li class="text-conts__list"><a class="text-conts__item" href="mailto:prod@kino.rent" type="email">
              <svg class="icon-black" width="22" height="20">
                <use xlink:href="{{ asset('img/sprite.svg')}}#mail"> </use>
              </svg><span>prod@kino.rent</span></a></li>
          <li class="text-conts__list"><a class="text-conts__item" href="#">
              <svg class="icon-black" width="22" height="20">
                <use xlink:href="{{ asset('img/sprite.svg')}}#telegram"> </use>
              </svg><span>@kino.rentprod</span></a></li>
        </ul>
        {{ render(controller('LanBundle:Lan:getLanMenu')) }}
      </div>
      <div class="port-s__right port-s__right_mod"> 
        <form class="form-sub form-sub_mod" id="myOrder" action="{{ path('shooting_order') }}" method="POST">
          <div class="input-group input-group__block">
            <label class="visually-hidden" for="name"></label>
            <input class="form-contact__name form-contact__name_b" type="text" name="name" placeholder="ФИО" id="name" required>
            </div>
            <div class="input-group input-group__block">
            <label class="visually-hidden" for="email"></label>
            <input class="form-contact__email form-contact__email_b" type="email" name="email" placeholder="Email" id="email" required>
            </div>
            <div class="input-group input-group__block">
            <label class="visually-hidden" for="tel"></label>
            <input class="form-contact__tel form-contact__tel_b tel" type="tel" name="tel" placeholder="+7(___)___-__-__" id="tel" required>
            </div>
            <div class="input-group input-group__block">
            <label class="visually-hidden" for="description"></label>
            <textarea class="form-contact__text form-contact__text_b" name="msg" cols="30" rows="5" placeholder="Опишите Вашу задачу..." id="description" required></textarea>
            </div>
            <div class="form-sub__btn">
            <button class="btn btn__c" type="submit">Оставить заявку</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

 {% block footer %}
  <footer class="footer-contact sect-5">
        <div class="main main-part">
          <div class="main-part__left">
            <div class="main-part__left-w">
              <div class="logo"><a class="logo__link logo__link_pos" href="/">
                  {% include 'Page/svg.html.twig' %}</a></div>
              <div class="main-f">
                <ul class="main-f-nav">
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="/">Главная</a></li>
                  {# <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Портфолио</a></li> #}
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="/about">О нас</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="/services/aerosiomka">Услуги</a></li>
                  {# <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Клиенты</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Техническое обеспечение</a></li> #}
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="/contact">Контакты</a></li>
                </ul>
                <ul class="main-f-nav">
                  {# <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Классное видео</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Реклама</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Клипы</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Социальное</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Аэросъёмка</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Подводная съёмка</a></li>
                  <li class="main-f-nav__list"><a class="main-f-nav__item" href="#">Трансляции</a></li> #}
                </ul>
              </div>
            </div>
          </div>
          <div class="main-part__right main-part__right_f">
            {{ render(controller('LanBundle:Lan:getLanMenu')) }}
          </div>
        </div>
      </footer>
 {% endblock %}

{% block javascripts %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvHy_dGn3U6izTU-uPB8MMIZgFPYLhxBY"></script><script>
      var map, marker, piter = new google.maps.LatLng(59.962610, 30.312970), size, newPiter = new google.maps.LatLng(59.962610, 30.312970), image;
      if( window.innerWidth <= 768 ){
          size = piter
      } else {
          size = newPiter
      } 
      function initialize() {
          map = new google.maps.Map(document.getElementById('map'),{
          zoom: 16,
          center: size,
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
          styles: [
              {
              featureType: 'water',
              stylers: [{color: '#a3ccff'}]
              },
              //- {
              //- featureType: 'landscape',
              //- elementType: 'geometry',
              //- stylers: [{color: '#525252'}]
              //- },
              {
              featureType: 'road.local',
              elementType: 'geometry',
              stylers: [{color: '#eaeaea'}]
              },
              {
              featureType: "poi",
              elementType: "all",
              stylers: [
                  {
                  visibility: "off"
                  }
              ]
              },
              {
              featureType: "transit",
              elementType: "labels",
              stylers: [
                  {
                  visibility: "off"
                  }
              ]
              },
              {
              featureType: "road.arterial",
              elementType: "labels",
              stylers: [
                  {
                  visibility: "off"
                  }
              ]
              }
          ]
          });
          
          image = new google.maps.MarkerImage(
              '{{ asset("img/icons/map_marker.svg")}}',
              new google.maps.Size(40,60),
              new google.maps.Point(0,0),
          );
          marker = new google.maps.Marker({
          position: piter,
          map: map,
          icon: image
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}