{% extends '::base.html.twig' %}
{%- block page_title -%}
  {%- if entity[0].metaTitle -%}
      {{ entity[0].title }} | {{ entity[0].metaTitle -}} 
  {%- endif -%}
{%- endblock -%}

{%- block metaDesription -%}
  {%- if entity[0].metaDescription -%}
      {{-entity[0].metaDescription-}}
  {%- endif -%}
{%- endblock -%}

{%- block metaKeywords -%}
  {%- if entity[0].metaKeywords -%}
      {{-entity[0].metaKeywords-}}
  {%- endif -%}
{%- endblock -%}
{% block title_pg %}О нас{% endblock %}
{% block body %}
<section class="section-s section-s_abs">

        <div class="main main-s1 main_mods">
          <nav class="nav nav_main nav_t" id="navigation">
            {% include 'Catalog/cat_menu.html.twig' %}
          </nav>
          <div class="logo"><a class="logo__link logo__link_pos" href="/">{% include 'Page/svg.html.twig' %}</a></div>
          <div class="main-h-menu_m">   
            <div class="header-g header-g_mod"> 
              <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
              <div class="menu-close-block" id="menu-close-block"></div>
            </div>
          </div>
        </div> 
        

      </section>
      <section class="section-s">
        <div class="head-img">
          {% set img = vich_uploader_asset(entity[0], 'mainImageFile') %}
          <img class="head-img__item" src="{{ img | imagine_filter('main_hi') }}" alt="{{ entity[0].title }}">        
        </div>
      </section>
      <section class="section-s main-s2-pos">
        <div class="main-s2-title main-s2-title_z">О нас</div>
        <div class="main">
          <div class="team-content main-s2_mod">
            <div class="team-content__left">
              <a class="line-l" href="/">
                <svg class="icon-black" width="35" height="30">
                  <use xlink:href="{{ asset('img/sprite.svg')}}#lineleft"> </use>
                </svg></a>
              {{ entity[0].content|raw }}
            </div>
            <div class="team-content__right team-content__right_about">
              <img class="teams-bg" src="{{ asset('img/svg/logo_about.svg')}}" /> 
            </div>
          </div>
        </div>
      </section>

{% endblock %}